:root{
    --text-color: #f0f4f5;
    --backgroind-color:#263343;
    --accent-color:#pink;
}
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-decoration: none;
    color:#fff;
}
.navbar {
    display:
        flex;
    justify-content: space-between;
    align-items: center;
    background-color:#00A4FF;
    padding: 8px 12px;
}
.navbar_logo {
    font-size: 30px;
    color : #fff;
}
.navbar_logo i{
    color :#0E1BFD;
}
.navbar_menu{
    display: flex;
    list-style:none;
    padding-left:0;
    color:#fff;

}
.navbar_menu li{
    padding: 8px 12px;
}

.navbar_menu li:hover{
    background-color:#00C894;
    border-radius: 4px;
}
.navbar_icons{
    list-style:none;
    color:#fff;
    display: flex;
    padding-left: 0;

}
.navbar_icons li{
    padding: 8px 12px;
}
.navbar_toogleBtn{
    display:none;
    position:absolute;
    right: 32px;
    font-size:32px;
    
}
@media screen and (max-width: 768px){

    .navbar{
       
        flex-direction: column;
        align-items:flex-start;
        padding: 8px 12px;
    }
    .navbar_menu{
        display:none;
        flex-direction :column;
        align-items:center;
        width:100%;
    }
    .navbar_menu li{
        
        width: 100%;
        text-align: center;
    }
    .navbar_icons{
        display:none;
        justify-content: center;
        width:100%;
    }
    .navbar_toogleBtn{
        display: block;
    }
    .navbar_menu.active,
    .navbar_icons.active{
        display :flex;
    }
}